<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?brownbi\.com$ [NC]
RewriteRule ^(.*)$ https://brownbi.com/$1 [L,R=301]
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?brownbi\.com$ [NC]
RewriteRule .* - [E=UPGRADE]
    <IfModule mod_headers.c>
        Header always set Content-Security-Policy "upgrade-insecure-requests;" env=UPGRADE
    </IfModule>
</IfModule>
RewriteRule ^healthcare-chatbot$ healthcare-chatbot.php [L]
DirectoryIndex index.php